<template>
	<v-row align="center">
		<v-col class="pt-0" align="center">
			<img alt="ABC Airlines logo" src="../assets/abclogo2.png" style="height:250px">
			<v-form
				id="login"
				ref="form"
				v-model="valid"
			>
				<v-text-field
					v-model="name"
					counter="10"
					label="Name"
					required
					clearable
					outlined
					color="purple darken-2"
					:rules="requiredRule"
					hint="CEO, Manager, Pilot"
				></v-text-field>
				
				<!-- 
					hint="<span style='color:magenta'>CEO, Manager, Pilot</span>"
				>
					<template v-slot:message="{ message }">
							<span v-html="message"></span>
					</template>
				</v-text-field> 
				-->

				<v-text-field
					v-model="password"
					counter
					label="Password"
					required
					outlined
					color="purple darken-2"
					:append-icon="show1 ? 'mdi-eye-off' : 'mdi-eye'"
					:type="show1 ? 'text' : 'password'"
					@click:append="show1 = !show1"
					:rules="requiredRule"
				></v-text-field>

				<v-btn
					:disabled="!valid"
					color="purple darken-2"
					class="mr-4"
					@click="logIn"
				>
					Log In
				</v-btn>
			</v-form>
			<h3 class="red--text text--darken-4 mt-5" v-if="this.$route.query.unauthedLogin">You need to be logged in to view that page.</h3>
		</v-col>
	</v-row>
</template>

<script>
const fetch = require('node-fetch');
const querystring = require('querystring');
const { encrypt } = require('@/encryption');


export default {
	name: 'loginForm',
	data () {
		return {
			name: '',
			password: '',
			valid: true,
			show1: false,
			requiredRule: [ v => !!v || 'Required' ] 
		}
	},
	methods: {
		async logIn () {
			this.$refs.form.validate()				
			const query = querystring.stringify({username: this.name, password: this.password})
			let hash = encrypt(query)
			const encrQuery = querystring.stringify(hash)
			let res = await fetch(`http://localhost:8000/login?${encrQuery}`)
			let json = await res.json()
			localStorage.setItem('user', JSON.stringify(json)); 
			const token = json.token
			this.$cookie.set('stoken', token, 1);
			console.log(token);
			console.log('logged in ', token);
			this.$router.push({ name: 'Profile' })
		}
	}
}
</script>
<style scoped>
#login {
	max-width: 300px;
}
.v-text-field {
	margin-bottom: 1.1rem !important;
}
</style>