<template>
	<div class="404">
		<img alt="logo" src="@/assets/abclogo2_notext.png">
		<h1>404</h1>
		<h2>not found</h2>
	</div>
</template>

<script>
export default {
	name: 'NotFound',
	components: {}
}
</script>
