<template>
	<div class="about">
		<v-card
			class="mx-auto mt-7"
			max-width="844"
			outlined
		>
			<v-list-item three-line>
				<v-list-item-content>
					<div class="overline mb-4 pb-0 text-left">
						CPSC 2810<br />
						Project: Implementing Security Mechanisms
					</div>
					<v-list-item-title class="headline mb-1 text-left">Dashboard for the ABC Airline Company</v-list-item-title>
					<v-list-item-subtitle class="mt-4 text-left">Char Najm</v-list-item-subtitle>
				</v-list-item-content>
					<v-list-item-avatar
						tile
						size="180"
					>
					<v-img src="@/assets/abclogo2.png"></v-img>
				</v-list-item-avatar>
			</v-list-item>
		</v-card>
		<v-card
			class="mx-auto mt-7 mb-7 pb-3"
			max-width="844"
			outlined
		>
			<v-list dense>
				<v-subheader class='mx-3'>Mechanisms</v-subheader>
				<v-list-item-group class="text-left">
					<v-list-item class=''>
						<v-list-item-icon>
							<v-icon>mdi-database-check</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title>Session-Token Authentication</v-list-item-title>
						</v-list-item-content>
					</v-list-item>

					<v-list-item class=''>
						<v-list-item-icon>
							<v-icon>mdi-account-details</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title>Role-Based Access Control</v-list-item-title>
						</v-list-item-content>
					</v-list-item>

					<v-list-item class=''>
						<v-list-item-icon>
							<v-icon>mdi-key</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title>AES Encryption</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</v-list-item-group>
			</v-list>
		</v-card>
	</div>
</template>

<script>
export default {
	name: 'Aboot',
}
</script>

<style scoped>
.about {
	color: #FFFFFF;
}
</style>