<template>
	<div class="mt-0">
		<h1>This is the employees page</h1>
		<h2 v-if="cookie">{{ cookie }}</h2>
		<v-card>
			<v-card-title>
				Employees at ABC Airlines
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="mdi-magnify"
					label="Search"
					single-line
					hide-details
				></v-text-field>
			</v-card-title>
			<v-data-table
				:headers="headers"
				:items="items"
				:search="search"
			></v-data-table>
		</v-card>
	</div>
</template>

<script>
const fetch = require('node-fetch');
const { decrypt } = require('@/encryption');

export default {
	name: 'flights',
	data () {
		return {
			search: '',
			headers: [
				{text:'Name', value:'name'},
				{text:'id', value: 'id'},
				{text:'Role', value: 'role'}
			],
			items: [],
			cookie: this.$cookie.get('stoken')
		}
	},
	mounted () {
		this.fetchEmployeeData()
	},
	methods: {
		async fetchEmployeeData () {
			let res = await fetch(`http://localhost:8000/GetEmployeeData`)
			let json = await res.json()
			
			console.log('Received encrypted employee data', json.content)
			json = JSON.parse(decrypt(json))
			console.log('Decrypted', json)

			for (const e of json) {
				this.items.push({name: e.name, id: e.id, role: e.role})	
			}
			
		}
	}
}
</script>
