<template>
	<div class="mt-9">
		<h1>This is the flights page</h1>
		<h2 v-if="cookie">{{ cookie }}</h2>
		<v-card>
			<v-card-title>
				YVR Flights (24 hours)
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="mdi-magnify"
					label="Search"
					single-line
					hide-details
				></v-text-field>
			</v-card-title>
			<v-data-table
				:headers="headers"
				:items="flightData"
				:search="search"
				:loading="loading"
			></v-data-table>
		</v-card>
	</div>
</template>

<script>
const fetch = require('node-fetch');
const map_ = require('lodash/map');
const pick_ = require('lodash/pick');

export default {
	name: 'flights',
	data () {
		return {
			search: '',
			headers: [
				{text:'callsign', value:'callsign'},
				{text:'icao24', value: 'icao24'},
				{text:'Est. Departure Airport', value: 'estDepartureAirport'},
				{text:'Est. Arrival Airport', value: 'estArrivalAirport'},
				{text:'Est. Departure Time', value: 'firstSeen'},
				{text:'Est. Arrival Time', value: 'lastSeen'},
			],
			flightData: ['callsign', 'icao24', 'estDepartureAirport', 'estArrivalAirport', 'firstSeen', 'lastSeen'],
			loading: true,
			cookie: this.$cookie.get('stoken')
		}
	},
	mounted () {
		this.fetchApiData()
	},
	methods: {
		async fetchApiData () {
			let res = await fetch(`https://opensky-network.org/api/flights/arrival?airport=CYVR&begin=1605509830&end=1605596230`)
			let json = await res.json()
			let json2 = map_(json, (el => pick_(el, ['callsign', 'icao24', 'estDepartureAirport', 'estArrivalAirport', 'firstSeen', 'lastSeen'])))
			json2.forEach(flight => flight.firstSeen = new Date(flight.firstSeen * 1000))
			json2.forEach(flight => flight.lastSeen = new Date(flight.lastSeen * 1000))
			console.log(json2)
			this.flightData = json2
			this.loading = false
		}
	}
}
</script>

