<template>
	<div class="mt-9">
		<h1>This is the performance page</h1>
		<h2 v-if="cookie">{{ cookie }}</h2>
		<v-row>
			<v-spacer></v-spacer>
			<v-col cols="3">
				<v-card
					class="mt-4 pt-4 mx-auto"
					max-width="400"
				>
					<v-sheet
						class="v-sheet--offset mx-auto mb-3"
						color="purple darken-4"
						elevation="12"
						max-width="calc(100% - 32px)"
					>
						<v-sparkline
						:labels="labels"
						:value="value"
						color="white"
						line-width="2"
						padding="16"
						></v-sparkline>
					</v-sheet>

					<v-card-text class="pt-0">
						<div class="title font-weight-light mb-2">Bundle Purchases</div>
						<div class="pb-2 subheading font-weight-light grey--text">Last Campaign Performance</div>
						<v-divider class="my-2"></v-divider>
						<v-icon
						class="mr-2"
						small
						>
						mdi-clock
						</v-icon>
						<span class="caption grey--text font-weight-light">last bundle sale 37 minutes ago</span>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col cols="3">
				<v-card
					class="mt-4 pt-4 mx-auto"
					max-width="400"
				>
					<v-sheet
						class="v-sheet--offset mx-auto mb-3"
						color="purple darken-4"
						elevation="12"
						max-width="calc(100% - 32px)"
					>
						<v-sparkline
						:labels="labels"
						:value="value2"
						color="white"
						line-width="2"
						padding="16"
						></v-sparkline>
					</v-sheet>

					<v-card-text class="pt-0">
						<div class="title font-weight-light mb-2">Ticket Purchases</div>
						<div class="pb-2 subheading font-weight-light grey--text">Last Campaign Performance</div>
						<v-divider class="my-2"></v-divider>
						<v-icon
						class="mr-2"
						small
						>
						mdi-clock
						</v-icon>
						<span class="caption grey--text font-weight-light">last ticket sale 13 minutes ago</span>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col cols="3">
				<v-card
					class="mt-4 pt-4 mx-auto"
					max-width="400"
				>
					<v-sheet
						class="v-sheet--offset mx-auto mb-3"
						color="purple darken-4"
						elevation="12"
						max-width="calc(100% - 32px)"
					>
						<v-sparkline
						:labels="labels"
						:value="value3"
						color="white"
						line-width="2"
						padding="16"
						></v-sparkline>
					</v-sheet>

					<v-card-text class="pt-0">
						<div class="title font-weight-light mb-2">Site Activity</div>
						<div class="pb-2 subheading font-weight-light grey--text">Today's Performance</div>
						<v-divider class="my-2"></v-divider>
						<v-icon
						class="mr-2"
						small
						>
						mdi-clock
						</v-icon>
						<span class="caption grey--text font-weight-light">site last visited less than a minute ago</span>
					</v-card-text>
				</v-card>
			</v-col>
			<v-spacer></v-spacer>
		</v-row>
		<v-row class="my-9">
			<v-spacer></v-spacer>
			<v-col cols="2">
				<v-progress-circular
					rotate="-90"
					size="125"
					width="15"
					value="84"
					color="purple"
				>
					Utilization
				</v-progress-circular>
			</v-col>
			<v-col cols="2">
				<v-progress-circular
					rotate="-90"
					size="125"
					width="15"
					value="94"
					color="primary"
				>
					Punctuality
				</v-progress-circular>
			</v-col>
			<v-col cols="2">
				<v-progress-circular
					
					size="125"
					width="10"
					value="15"
					color="red"
				>
					Misconnex<br/> Quota
				</v-progress-circular>
			</v-col>
			<v-col cols="2">
				<v-progress-circular
					rotate="-90"
					size="125"
					width="15"
					value="71"
					color="green darken-3"
				>
					Regularity
				</v-progress-circular>
			</v-col>
			<v-spacer></v-spacer>
		</v-row>
	</div>
</template>

<script>
export default {
	name: 'flights',
	data () {
		return {
			search: '',
			labels: [
				'12am',
				'3am',
				'6am',
				'9am',
				'12pm',
				'3pm',
				'6pm',
				'9pm',
			],
			value: [
				900,
				675,
				410,
				390,
				310,
				260,
				250,
				140,
			],
			value2: [
				200,
				675,
				410,
				390,
				310,
				760,
				250,
				240,
			],
			value3: [
				200,
				836,
				963,
				585,
				797,
				101,
				327,
				970,
			],
			cookie: this.$cookie.get('stoken')
		}
	},
}
</script>

