<template>
  <div class="profile">
    <h1>ABC Airline</h1>
    <h2 v-if="cookie">You are currently logged in as {{ user.name }}, a {{ user.role }}</h2>
    <h2 v-else>You are not logged in</h2>
    
    <v-btn
      class='mt-5'
      depressed
      color="primary"
      v-if="cookie"
      @click='logOut'
    >
      Log Out
    </v-btn>
    <h3 class="red--text text--darken-4 mt-5" v-if="this.$route.query.unauthedRole">You do not have the required role(s) to view that page.</h3>
  </div>
</template>

<script>
export default {
	name: 'Profile',
	components: {

	},
	data () {
	return {
		cookie: this.$cookie.get('stoken'),
		user: ''
	}
	},
	mounted () {
		let user = JSON.parse(localStorage.getItem('user'))
		this.user = user

	},
	methods: {
		logOut() {
			this.$cookie.delete('stoken')
			localStorage.clear()
			this.$router.push({ name: 'Home' })
		}
	}
}
</script>

<style scoped>
.profile {
	color: #FFFFFF;
}
#user {
	color: magenta;
}
</style>
